body{
  margin: 0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-weight:200px;
}
.container{
  min-height:2vh;
  width:100%;
  margin: 0 auto;
}
nav {
  display: flex;
  padding: 0.3% 2%;
  justify-content: space-between;
  align-items: center;
  background: #bdb9b9;
}

.nav-links{
  flex:1;
  text-align:right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
}
.nav-links ul li a{
  color: #772727;
  text-decoration:none;
  font-size: 14.5px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 4px;
  background:#050302;
  display:block;
  margin:auto;
  transition: 0.5s
}
.nav-links ul li:hover::after{
  width:100%;
}


.text-box{
  width: 100%;
  color: #772727;
  text-align:center;
}
.text-box h1{
  font-size:60px;
}

.text-box p{
  margin: 1px 0 5px;
  font-size: 14px;
  color: rgba(132, 34, 34, 0.267)
}

.my-image{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom:50px;
  position:relative;
  text-align:center;
  overflow:hidden;
}
.my-image img{
  width: 42%
}

.me{
  width:80%;
  margin:auto;
  text-align: center;
  padding-top:100px;
  color:#772727
}
h1{
  font-size:36px;
  font-weight:600px;
}

p{
  color:rgb(16, 13, 13);
  font-size:14px;
  line-height:22px;
  padding:10px;
}

.me-col{
  flex-basis: 31%;
  background:#772727;
  border-radius:10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing:border-box;
  transition:0.5s
}
h3{
  text-align:center;
  font-weight:600;
  margin:10px 0;
}

.me-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0,2);
}

.divider{
  width:1000px;
  height:5px;
  background-color:saddlebrown;
  display:inline-block;
  text-align:center
}

.resume{
  width:80%;
  margin:auto;
  text-align: center;
  padding-top:80px;
  color:#772727
}

/* contact us */

.contact{
  margin: 0px auto;
  width: 30%;
  border-radius:2px;
  text-align:center;
  padding: 100px 0;
}

.contact h1{
  color:#772727;
  margin-bottom: 20px;
  padding:0;
  text-align:center
}

.contactinfo{
  font-weight:600;
  margin-bottom: 30px;
  text-align:center
}

tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top:20px;
}

